.vscode
original/**/*_de*.*
original/**/*_fr*.*
original/**/*_ko*.*
original/**/*_ru*.*
original/**/*_es*.*
original/aircraft/*
original/ammunition/*
original/animations/*
original/audio/*
original/biologic/*
original/campaigns/*
original/clouds/*
original/documentation/*
original/effects/*
original/formations/*
original/land_units/*
original/language_de/*
original/language_es/*
original/language_fr/*
original/language_ko/*
original/language_ru/*
original/missions/Video Tutorials/*
original/missions/Warsaw Pact/*
original/reference/*
original/scenery/*
original/systems/*
original/templates/*
original/terrain/*
original/ui/*
original/vessels/*
original/_info.ini
original/camera.ini
original/clouds.ini
original/config.ini
original/controls.ini
original/counter_icons.ini
original/credits.asset
original/credits.xml
original/environment.ini
original/hash.dat
original/InstantActionConfig.ini
original/nations_reference.ini